.borda-alfaiataria {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px;
    height: 485px;
    padding: 64px 0 0 64px;
    max-width: 600px;
}