.background-depoimentos {
    background-image: url(../img/backgroundDepoimentos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-color: #014561;
}
.user-photo {
    width: 120px;
    border-radius: 100%;
        margin: 0 auto;
}
.depoimento {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    color: #f2f2f2;
}
.depoimento-p {
    font-family: 'Cormorant';
font-style: italic;
font-weight: 300;
font-size: 26px;
line-height: 31px;
text-align: center;

color: #C4C4C4;
}
.depoimento-h3 {
    font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: var(--gold);
}
.deppimento-h4 {
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

/* cinza */

color: #949494;
}